extends base.pug

block style 
    style
        include ../static/css/homestyle.css
        include ../static/css/utility.css
        include ../static/css/contactstyle.css
        include ../static/css/homeresponsive.css
        include ../static/css/contactresponsive.css

block content
        section.contactSection 
                h1 Contact us 
                form(action="/contact", method="post" class="myForm") 
                        div.formItem
                            p Name:
                            input(type="text", name="name", placeholder="Enter your Name")  
                        div.formItem
                            p Email:
                            input(type="email", name="email", placeholder="Enter your Email") 
                        div.formItem 
                            p Phone:
                            input(type="number", name="phone", placeholder="Enter your Phone")  
                        div.formItem
                            p Address:
                            input(type="text", name="address", placeholder="Enter your Address") 
                        div.textarea 
                            p Concern:
                            textarea(name="concern", cols="30", rows="10", placeholder="Enter your concern")
                        div.buttons 
                             button.btn.btn-large 
                                | Submit
        footer.footer.background 
            p Copyright &copy; 2022 | Web Dev Society