doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Online Web Developers Skillful Courses')
    meta(name='author', content='Developerhamid')
    title Web dev society | Developers Society
    style
      include ../static/css/homestyle.css
      include ../static/css/utility.css
      include ../static/css/homeresponsive.css
  body
        nav.navbar.background.nav-height
            div.logo.nav-visible
                img(src="../static/img/logo.png", alt="logoImg")
            ul.nav-list.nav-visible 
                li 
                    a(href="/") Home
                li 
                    a(href="/about") About
                li 
                    a(href="/join") Join
                li 
                    a(href="/contact") Contact us
                        
            div.search-bar.nav-visible
                input(type="text", name="search" id="search" placeholder="search here...")
                button.btn.btn-sm Search

            div.burgur
                div.line
                div.line
                div.line

        section.mainSection.background 
            div.mainText
                p.big-text 
                    | Welcome to Web Dev Society
                p.small-text 
                    | A society for Web developers to build something outstanding
                div.buttons
                    button.btn
                        a(href="/about") About
                    button.btn
                        a(href="/join") Join
            div.mainImg
                img(src="../static/img/home.jpg", alt="homeImg")
        section.courseSection 
            h1 Our Skillful Courses 
            div.coursesContainer
                div.courseContainerItem
                    div.courseImg
                        img(src="../static/img/front.jpg", alt="FrontImg")
                    div.courseText
                        h2 Frontend Masters 
                        p Modern Technologies for our Modern developers
                    div.buttons-bg-white 
                        button.btn.btn-large
                            a(href="/join") Be a Master

                div.courseContainerItem
                    div.courseImg
                        img(src="../static/img/back.png", alt="FrontImg")
                    div.courseText
                        h2 Backend Engineers 
                        p The person who knows everything about Internal function
                    div.buttons-bg-white 
                        button.btn.btn-large
                            a(href="/join") Be a Engineer
                            
                div.courseContainerItem
                    div.courseImg
                        img(src="../static/img/data.jpg", alt="FrontImg")
                    div.courseText
                        h2 Database Controllers
                        p To store our Valuable Datas
                    div.buttons-bg-white 
                        button.btn.btn-large
                            a(href="/join") Be a Controller
        footer.footer.background 
            p Copyright &copy; 2022 | Web Dev Society
        script  
            include ../static/js/script.js 
